In [1]:
import pandas as pd

In [2]:
dataset= pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset=pd.get_dummies(dataset,drop_first=True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [4]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [5]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [19]:
from sklearn.preprocessing import StandardScaler
sc= StandardScaler()
x_train= sc.fit_transform(x_train)
x_test= sc.transform(x_test)

In [57]:
from sklearn.svm import SVR
regressor=SVR(kernel="sigmoid",C=10)
regressor.fit(x_train,y_train)

C:\Users\thila\anaconda3\Lib\site-packages\sklearn\utils\validation.py:1184: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVR(C=10, kernel='sigmoid')

In [47]:
regressor.n_support_

array([936])

In [48]:
regressor.intercept_

array([12916.22129149])

In [42]:
regressor.support_

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272,
       273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285,
       286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298,
       299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311,
       312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324,
       325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337,
       338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350,
       351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363,
       364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376,
       377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389,
       390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402,
       403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415,
       416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428,
       429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441,
       442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454,
       455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467,
       468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480,
       481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493,
       494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506,
       507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519,
       520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532,
       533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545,
       546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558,
       559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571,
       572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584,
       585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597,
       598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610,
       611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623,
       624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636,
       637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649,
       650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662,
       663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675,
       676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688,
       689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701,
       702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714,
       715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727,
       728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740,
       741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753,
       754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766,
       767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779,
       780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792,
       793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805,
       806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818,
       819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831,
       832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844,
       845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857,
       858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870,
       871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883,
       884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896,
       897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909,
       910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922,
       923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935])

In [58]:
y_pred=regressor.predict(x_test)
y_pred

array([ 9744.01792648,  9370.66808501, 11554.68139506, 10318.49620039,
        9353.97130225,  8523.78425574,  7608.21662093,  9762.24374663,
        8944.52394303,  8627.99146489,  8598.43781483,  9553.40036659,
        9125.79630285,  8405.89842624, 10120.91958996,  9618.39047457,
       10026.74818187,  8176.86200078,  8915.47196357,  9732.46206917,
       11520.56851258, 10017.19246397,  9640.49371904, 11274.85922675,
        7962.02056817,  8654.5630967 ,  8121.71064341,  9098.82521091,
        8303.38173742,  9368.67027249,  9041.26142598, 12090.29086404,
       10360.26307898,  9974.7966019 ,  9717.81207246,  8268.31366547,
        9568.10070261, 10342.57031812, 11065.47560257,  7798.03838532,
        8545.4552952 ,  8272.29251484, 10810.574201  , 12076.88523003,
        9673.71634758,  7913.12552242,  9613.99442146,  9057.40820808,
        8237.43059001,  9883.83490311,  7994.55873748,  7869.82985725,
       11442.38074502, 11637.60732341, 10100.89807168,  8337.22641682,
        8222.26756585,  9494.14628061,  9361.15521311, 10100.1417818 ,
        7734.72929993, 12136.55522799, 10295.21710214,  9705.91245118,
        9695.09526994,  9755.42856657,  9668.97124188, 10583.11605417,
        7813.10834653,  9215.83824208, 10117.87359613, 10002.42231629,
        9690.98814251, 10332.5376003 ,  9978.04346136, 10049.69870852,
        9201.95667026,  9310.34870931, 10681.00658982, 12233.66381811,
        9842.06111638, 11102.84945249,  7931.68171844,  9307.99687587,
       11249.91681036, 10555.55872371,  8393.58447164,  8137.46941618,
       10110.58590516, 10388.12330955,  8715.13429245,  9849.63974821,
        8285.95384704,  9270.28997035,  8672.9421029 ,  8463.28725153,
       11819.74000334, 11264.29653245,  8486.80513871, 10072.31276936,
        7993.96472853,  8812.89463469,  8314.22310663, 10747.10634066,
       11092.88203089,  8063.75171172,  9761.05064843,  8272.27368514,
       10106.75768051, 12100.53864541,  9739.6706987 ,  8798.19299457,
        9425.54491963,  9628.50523553, 11980.74563829,  9113.81703699,
        7789.05278175,  9497.27815986, 10267.40250715,  9411.00929295,
       11253.97010888,  9413.70776573, 10396.88324467,  8698.82012751,
        9149.67055235,  8237.01446206, 11308.18733773, 11122.75512232,
       12073.74581124,  7981.99454579,  9237.97188421,  7755.62441132,
        8822.04853485,  9487.28192416, 11060.6517494 , 10582.62464777,
       10945.42287188,  9506.37341002, 11531.75982923,  7939.80859149,
        7771.44467349,  9808.76640599,  9732.42934283,  9841.93827448,
        8559.75654579, 10378.79303666, 10183.77584013,  7919.22683591,
        7748.02770864,  9775.45441401,  8767.82325596, 10268.27877797,
        9721.26462682,  7692.89944219,  7927.30219977,  8933.74972386,
        7927.53919935,  7686.18231903,  9617.86131368,  9513.62134479,
        8431.34752808, 10386.6675142 , 10016.22294383,  9847.84313916,
        8329.77638862,  8433.89004692,  9468.8502685 ,  8546.58274207,
        8394.53129525,  7871.51141277,  8324.59658357,  8289.72598203,
        9188.82537425,  8120.48955384,  8393.31416141,  8484.05998045,
        8268.84104891,  8829.67302478, 11985.86496374,  7677.36434908,
        9757.87219317,  8967.7514457 , 10036.48392778,  8239.94503231,
        8603.56573827, 12097.31622394,  7925.73803654,  7758.4251891 ,
       10352.07155541,  9596.69338192, 11556.76157978,  8144.84031687,
        8625.3759175 , 11285.20419244,  8170.69404247,  7986.11305166,
        8863.27486295,  8754.05269165,  8542.49065201,  8412.23692237,
        9850.34967848, 12296.67869069,  9948.65714102, 10428.65502563,
        8413.32798494, 11478.19929036,  8109.77397355,  9747.52787642,
        8786.89895224,  8028.40001486,  9535.46529316, 10228.85130585,
        8328.76294792,  7961.46726806,  9032.14138885,  7988.11753102,
        8861.75413367,  8410.41652336, 10121.90693799,  8663.84468605,
        8840.62006748,  8916.39710424,  9366.03042566,  7960.41084266,
       10023.38432936, 10470.35962323, 10044.21788363,  9889.78898744,
        8905.28225353,  8039.49164683,  7694.85179328,  9550.64203649,
       10103.70883376,  8032.8619769 ,  8362.32343709,  9152.2917394 ,
        9399.57137305,  9974.57847601,  8833.15633238,  9689.97603433,
        8736.99609741,  9986.33035905,  9168.11839422,  9002.32228233,
        9303.43717544,  9822.78989285,  7897.49050872,  9205.75973817,
        7804.33794266,  8967.03544471, 10319.50321872, 12293.38854337,
        8223.88052795,  8330.99255004,  7628.91900202,  7690.1870768 ,
        9375.07403846,  7780.87116041,  8390.80654949,  8073.14457514,
        9278.87783269, 11529.91077656, 12192.79157819, 10324.39422813,
        9025.88423024, 10126.21765592, 10554.8895918 ,  9396.98247777,
       10892.53417603,  7762.19794047, 10094.34883345,  8666.30855214,
       10089.10217624,  8050.22884455, 10824.42582062,  8619.61996601,
        9757.86148997,  9441.77716533,  7835.42092058, 10152.97709296,
        9928.61955269,  8699.04177042, 10131.56385446,  7640.12160087,
        9013.10987245,  8216.95062013,  9185.48500373, 11039.73129957,
        8605.84789982,  7678.34594965,  7810.48032134, 12215.78477436,
        9480.73916681,  8424.25128293,  9956.43379646,  9911.75357001,
        9882.6450505 ,  8895.42135018,  8684.86761059,  9667.14926477,
        7751.15765487,  7893.74907689,  9835.92143439,  9988.10807039,
       10202.58814068,  8040.64055914,  8059.35646845,  9379.62895759,
        9732.40838549,  9414.21195434, 10556.76221   ,  8803.60353047,
        9537.40086713,  7696.5666371 ,  9196.40813196,  8662.82624637,
        9229.37212432,  7753.69012097,  9073.45501122, 11216.51990463,
        8008.9079297 ,  8179.15393752,  7655.7667344 ,  9439.86948217,
        8347.5258735 ,  9838.34325667, 12364.25023071, 10263.68910922,
        9579.92694505, 11288.12526463, 10078.66826363,  8420.53846278,
        9679.38733374,  8313.74107974, 12074.07116947,  8430.04000144,
        9988.08937458,  7724.62269197,  9576.76551727,  8011.50587453,
       11634.57705847,  9068.57437491,  7987.40898969, 10106.13519356,
        8496.19889992,  8599.33485145, 12074.91655651,  7749.06673412,
        9262.13384235,  7799.29280232,  9635.40867971,  8016.07525872,
        8960.86117508,  8580.12182253, 11741.56905614,  9263.65848202,
       10612.55765905,  9993.47071982,  8836.62474444,  9313.32722239,
        7730.3824996 ,  8069.59886796,  7768.78516098,  9618.5411093 ,
       11873.70572502,  9847.87272474,  7653.86826146,  9979.36641017,
        7907.7424217 ,  9254.46669815,  8297.56595749,  8250.59659154,
        8124.25642605,  9749.42396029,  8798.69944922,  7615.30282688,
       10901.54185417,  9970.34884937, 11660.04292861,  9895.38313944,
        8565.4823155 ,  7968.77418816,  7729.57977545,  9634.85606256,
        8637.01943846,  7667.51515315,  9706.19155457,  8915.73769761,
        9025.06566241,  8136.72060825,  7879.62961681, 10531.46517675,
        7864.99238537,  9429.69786806,  7819.46944787,  9264.98055207,
       10063.34082638,  8409.15109692,  9954.80756412,  9989.52041361,
       10553.83669749, 10110.03436759])

In [59]:
from sklearn.metrics import r2_score
r_score= r2_score(y_test,y_pred)
r_score

0.03930714378274347