In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [3]:
dataset = pd.get_dummies(dataset,drop_first= True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [4]:
independent=dataset[['age','bmi','children','sex_male','smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [6]:
dependent = dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [84]:
from sklearn.tree import DecisionTreeRegressor
regressor= DecisionTreeRegressor(criterion='poisson',splitter='best',max_features='sqrt')
regressor.fit(x_train,y_train)

DecisionTreeRegressor(criterion='poisson', max_features='sqrt')

In [85]:
y_pred=regressor.predict(x_test)
y_pred

array([ 9144.565   ,  8930.93455 , 44202.6536  , 12574.049   ,
        9264.797   ,  3260.199   ,  1615.7667  , 10381.4787  ,
        7281.5056  ,  5253.524   ,  4827.90495 , 30284.64294 ,
       17929.30337 ,  4571.41305 , 35147.52848 , 11741.726   ,
       12142.5786  ,  3292.52985 ,  6455.86265 , 20167.33603 ,
       24869.8368  , 13430.265   ,  9625.92    , 24535.69855 ,
        1532.4697  , 18963.17192 ,  5116.5004  ,  8538.28845 ,
        3353.284   , 32108.66282 ,  8252.2843  , 48673.5588  ,
       12981.3457  , 11365.952   , 15817.9857  ,  3554.203   ,
        8978.1851  , 36950.2567  , 39836.519   ,  1880.07    ,
        5693.4305  ,  2866.091   , 17179.522   , 43813.8661  ,
       36307.7983  ,  3579.8287  , 11741.726   ,  6389.37785 ,
        6272.4772  , 10942.13205 , 13126.67745 ,  2913.569   ,
       24393.6224  , 44400.4064  , 11856.4115  , 19673.33573 ,
        1826.843   ,  8442.667   ,  8891.1395  , 12913.9924  ,
        1769.53165 , 46130.5265  , 15161.5344  , 25333.33284 ,
        9563.029   ,  9877.6077  , 17352.6803  , 41949.2441  ,
        2913.569   ,  7512.267   , 14256.1928  , 10965.446   ,
       20167.33603 , 31620.00106 , 12629.8967  , 12638.195   ,
        7526.70645 , 32108.66282 , 21659.9301  , 46599.1084  ,
       11658.11505 , 40419.0191  , 23082.95533 ,  7147.4728  ,
       40103.89    , 19040.876   , 28476.73499 ,  2727.3951  ,
       12913.9924  , 36950.2567  ,  6128.79745 , 10796.35025 ,
        3989.841   ,  8516.829   , 12404.8791  ,  4076.497   ,
       41999.52    , 39556.4945  ,  5375.038   , 10982.5013  ,
        1981.5819  , 14358.36437 , 20177.67113 , 39047.285   ,
       21259.37795 ,  3260.199   , 11165.41765 ,  3021.80915 ,
       10594.2257  , 46599.1084  , 12094.478   ,  4686.3887  ,
        8871.1517  , 34617.84065 , 43921.1837  ,  6593.5083  ,
        2221.56445 ,  8442.667   , 21797.0004  , 10096.97    ,
       39597.4072  ,  9264.797   , 14901.5167  ,  7196.867   ,
        7421.19455 ,  3260.199   , 24535.69855 , 42760.5022  ,
       48673.5588  ,  1534.3045  ,  8211.1002  ,  1727.54    ,
        5478.0368  ,  8782.469   , 38245.59327 , 37607.5277  ,
       38245.59327 , 30284.64294 , 24873.3849  ,  2639.0429  ,
        1877.9294  , 10796.35025 ,  8978.1851  ,  9850.432   ,
        7077.1894  , 14901.5167  , 12913.9924  , 22395.74424 ,
        1628.4709  , 10436.096   ,  6770.1925  , 38126.2465  ,
        9386.1613  , 11272.33139 ,  2219.4451  ,  5478.0368  ,
        2639.0429  , 11272.33139 , 11741.726   ,  9411.005   ,
       18804.7524  , 12981.3457  , 12629.8967  ,  9386.1613  ,
        3260.199   ,  6059.173   , 16884.924   ,  6184.2994  ,
        4237.12655 ,  2217.46915 ,  3877.30425 ,  4438.2634  ,
        8211.1002  ,  1826.843   , 18804.7524  ,  6059.173   ,
        3847.674   ,  6272.4772  , 28868.6639  ,  1632.56445 ,
       11150.78    ,  6985.50695 , 10976.24575 ,  1826.843   ,
       11737.84884 , 27218.43725 ,  1526.312   ,  2710.82855 ,
       14901.5167  , 10043.249   , 39727.614   , 20177.67113 ,
        5385.3379  , 21978.6769  ,  1826.843   ,  2045.68525 ,
        6203.90175 ,  6128.79745 , 19442.3535  ,  4454.40265 ,
       10928.849   , 47055.5321  , 29186.48236 , 19040.876   ,
       19442.3535  , 42111.6647  ,  3537.703   ,  9144.565   ,
        5989.52365 ,  1146.7966  ,  8964.06055 , 13844.7972  ,
        6184.2994  , 13126.67745 ,  6393.60345 ,  1515.3449  ,
        6548.19505 ,  6272.4772  , 14001.1338  ,  6933.24225 ,
       24915.04626 ,  7985.815   ,  8280.6227  ,  2842.76075 ,
       12430.95335 , 14410.9321  , 12646.207   , 11070.535   ,
        5855.9025  ,  2523.1695  ,  1639.5631  ,  8334.5896  ,
       12622.1795  , 24671.66334 ,  4719.52405 ,  7256.7231  ,
        9447.25035 , 34672.1472  ,  6393.60345 , 12094.478   ,
        5397.6167  , 38344.566   ,  5989.52365 ,  7419.4779  ,
        9620.3307  , 10085.846   ,  3077.0955  ,  7345.7266  ,
       25081.76784 ,  5125.2157  , 19107.7796  , 47291.055   ,
       20177.67113 , 28476.73499 ,  2200.83085 ,  1704.70015 ,
        7147.4728  ,  2211.13075 ,  6059.173   , 23288.9284  ,
        8891.1395  , 24535.69855 , 46599.1084  , 16455.70785 ,
        6393.60345 , 10982.5013  , 44585.45587 , 10096.97    ,
       41949.2441  ,  1137.011   , 44585.45587 ,  5729.0053  ,
       12430.95335 ,  4340.4409  , 39047.285   ,  7639.41745 ,
       10072.05505 ,  8891.1395  ,  1980.07    , 12913.9924  ,
       11073.176   , 12404.8791  , 12146.971   , 21344.8467  ,
        4762.329   ,  3906.127   ,  8965.79575 , 21659.9301  ,
        2438.0552  ,  1632.56445 ,  1832.094   , 47896.79135 ,
        8703.456   ,  4149.736   , 29186.48236 , 10928.849   ,
       34838.873   ,  6770.1925  ,  5240.765   ,  8835.26495 ,
        1639.5631  ,  3481.868   , 15006.57945 , 15817.9857  ,
       13429.0354  ,  2523.1695  ,  2719.27975 ,  8891.1395  ,
        9144.565   , 13747.87235 , 20984.0936  ,  6360.9936  ,
       20167.33603 ,  2130.6759  ,  5757.41345 , 12404.8791  ,
       26236.57997 ,  2304.0022  ,  6250.435   , 48885.13561 ,
        3579.8287  ,  3956.07145 ,  2457.502   ,  8280.6227  ,
        3021.80915 , 11830.6072  , 47291.055   , 18765.87545 ,
        9288.0267  , 40273.6455  , 13430.265   , 19442.3535  ,
        9957.7216  ,  3906.127   , 27808.7251  ,  3947.4131  ,
       13415.0381  ,  2221.56445 , 20167.33603 ,  2585.85065 ,
       24869.8368  ,  5649.715   ,  1515.3449  , 38126.2465  ,
        6184.2994  ,  5266.3656  , 47896.79135 ,  1639.5631  ,
        8891.1395  ,  3077.0955  , 12592.5345  ,  3208.787   ,
        6435.6237  ,  5253.524   , 47269.854   , 10197.7722  ,
       37701.8768  , 37484.4493  ,  6393.60345 ,  8965.79575 ,
        1252.407   ,  3558.62025 ,  3056.3881  ,  8964.06055 ,
       41999.52    , 10965.446   ,  1743.214   , 12124.9924  ,
        2020.5523  ,  7633.7206  ,  4454.40265 ,  1984.4533  ,
        2904.088   , 34828.654   ,  5855.9025  ,  1731.677   ,
       39774.2763  , 10601.63225 , 42211.1382  , 11931.12525 ,
        4076.497   ,  2527.81865 ,  2156.7518  , 11150.78    ,
        4747.0529  ,  1622.1885  ,  9778.3472  ,  7281.5056  ,
        5028.1466  , 20177.67113 , 13126.67745 , 44585.45587 ,
        1526.312   , 11454.0215  ,  7882.429475, 28476.73499 ,
       10982.5013  ,  3471.4096  , 12829.4551  , 11365.952   ,
       30166.61817 , 24513.09126 ])

In [86]:
from sklearn.metrics import r2_score
rscore= r2_score(y_test,y_pred)
rscore

0.6840544377161288