In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv('insurance_pre.csv')
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset= pd.get_dummies(dataset,drop_first= True)
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400     False        True
1      18  33.770         1   1725.55230      True       False
2      28  33.000         3   4449.46200      True       False
3      33  22.705         0  21984.47061      True       False
4      32  28.880         0   3866.85520      True       False
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830      True       False
1334   18  31.920         0   2205.98080     False       False
1335   18  36.850         0   1629.83350     False       False
1336   21  25.800         0   2007.94500     False       False
1337   61  29.070         0  29141.36030     False        True

[1338 rows x 6 columns]

In [5]:
independent=dataset[['age', 'bmi', 'children', 'sex_male', 'smoker_yes']]
independent

      age     bmi  children  sex_male  smoker_yes
0      19  27.900         0     False        True
1      18  33.770         1      True       False
2      28  33.000         3      True       False
3      33  22.705         0      True       False
4      32  28.880         0      True       False
...   ...     ...       ...       ...         ...
1333   50  30.970         3      True       False
1334   18  31.920         0     False       False
1335   18  36.850         0     False       False
1336   21  25.800         0     False       False
1337   61  29.070         0     False        True

[1338 rows x 5 columns]

In [6]:
dependent=dataset[['charges']]
dependent

          charges
0     16884.92400
1      1725.55230
2      4449.46200
3     21984.47061
4      3866.85520
...           ...
1333  10600.54830
1334   2205.98080
1335   1629.83350
1336   2007.94500
1337  29141.36030

[1338 rows x 1 columns]

In [47]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(independent,dependent,test_size=0.2,random_state=0)

In [48]:
from sklearn.ensemble import RandomForestRegressor
regressor= RandomForestRegressor(n_estimators=100,criterion='poisson',max_features='sqrt')
regressor.fit(x_train,y_train)

C:\Users\thila\anaconda3\Lib\site-packages\sklearn\base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

RandomForestRegressor(criterion='poisson', max_features='sqrt')

In [13]:
print(x_train.shape)

(1070, 5)

In [14]:
print(y_train.shape)

(1070, 1)

In [49]:
y_pred=regressor.predict(x_test)
y_pred

array([10420.7647561 ,  9724.0097955 , 44724.4448135 , 13487.720573  ,
        9301.2887915 ,  9681.2073766 ,  1901.924224  , 11635.9752772 ,
        7867.3629838 ,  5359.396622  ,  6727.4952829 , 12000.0992729 ,
        8895.5016044 ,  5769.9802159 , 23337.8515037 , 12087.7647363 ,
       14115.5452828 ,  4950.6046628 ,  6872.8267585 , 30575.8231719 ,
       25278.5117555 , 13182.1149374 , 10902.0855675 , 27778.4542135 ,
        4453.0444297 ,  6062.4732419 ,  4271.8649845 ,  8201.9717526 ,
        3867.2287255 , 11917.4407827 ,  8085.8279001 , 46271.5189638 ,
       15387.3904848 , 11211.9389713 , 16859.7358131 ,  4192.601407  ,
        9350.1236234 , 36894.5289617 , 38703.3836775 ,  2599.2796636 ,
        6387.2135321 ,  3657.0245846 , 20793.0754956 , 46528.4020817 ,
       35590.9252869 ,  3810.7061308 , 12125.8299828 ,  7024.3055393 ,
        6081.2975919 , 13772.9442364 ,  2915.7077145 ,  8471.1219285 ,
       26746.9690847 , 44955.1358161 , 11728.861946  ,  8477.3265097 ,
        4087.4904224 , 10631.2935999 ,  9818.0492905 , 15747.4733119 ,
        1703.163943  , 44948.230212  , 15316.9512062 , 17091.376586  ,
       11866.4894747 ,  9810.7222805 , 29987.364401  , 38339.0966118 ,
        4741.5737091 ,  9610.1771112 , 15862.1543322 , 11540.2864692 ,
       17241.6187701 , 14726.2291531 , 12860.8973991 , 14493.6802913 ,
        9082.9494078 , 15605.3893862 , 20579.366174  , 46078.7249318 ,
       11445.811782  , 46973.285708  ,  2409.2892484 , 10219.7089836 ,
       40431.1359081 , 19255.5750255 ,  6542.1804856 ,  3637.9003117 ,
       12754.5473371 , 37736.0465258 ,  5671.87239   , 17073.3634917 ,
        3427.6337389 ,  9520.2310129 ,  5738.3664857 ,  5072.9643821 ,
       41874.2077138 , 42428.7030392 ,  5226.7344951 , 10594.530055  ,
        2787.9271159 ,  6731.5299212 ,  7500.1022189 , 38557.4174124 ,
       25799.061528  ,  3770.0399526 , 11190.0910271 ,  3979.591479  ,
       11613.20645   , 44727.2110384 , 11843.9242926 ,  7499.417174  ,
        9991.7467602 , 33424.5251815 , 45555.6534528 ,  7728.8165151 ,
        2947.9487403 , 11619.046033  , 17371.631351  , 10148.860395  ,
       41952.0555223 , 10863.5931593 , 13993.7170295 ,  6175.7971989 ,
       10307.4769785 ,  5294.5892878 , 25031.0184304 , 23331.9359486 ,
       47484.3793395 ,  1628.9260925 , 13222.7100232 ,  3001.0148067 ,
        7385.9376725 ,  9675.6230362 , 36996.4533633 , 33912.6740823 ,
       24219.7646631 , 11179.1813538 , 24316.1658231 ,  5649.606878  ,
        2031.692828  , 13055.5513597 , 10697.2230131 , 11846.3489521 ,
        6675.7761325 , 14780.0700234 , 18847.7592208 , 10461.1619    ,
        2240.7309718 , 11174.9145923 ,  6210.9202384 , 37814.9124792 ,
       10012.8945894 ,  4916.3058656 ,  3558.43664   ,  7850.8283342 ,
        3181.0998611 ,  5796.2433826 , 12075.6729748 ,  9917.6806431 ,
        5369.4079141 , 13020.520287  , 13480.2621988 ,  9611.1098292 ,
        3938.2859406 ,  7481.4803326 , 15767.2097511 ,  8981.8937753 ,
        5290.0155392 ,  2132.83784662,  7695.9798962 ,  6628.0987741 ,
       11529.4766545 ,  2524.2408382 ,  7314.0813573 ,  7815.158139  ,
        5049.9408044 ,  7070.1866974 , 29900.2304154 ,  1825.4535814 ,
       14588.9118766 ,  6584.5046528 , 11350.927655  ,  6318.3383251 ,
        8406.6888553 , 28382.4791208 ,  2234.6868211 ,  3167.1809453 ,
       14047.371532  , 10644.3192401 , 40689.1070432 ,  6527.2697071 ,
        5425.306484  , 27349.5239308 ,  2748.0158373 ,  2537.2290682 ,
        8846.6304185 ,  5765.026355  ,  8444.4124696 ,  4569.2787826 ,
       11409.4007322 , 44811.4064639 , 15084.3249617 , 18970.5160575 ,
        7272.7501381 , 43513.1246155 ,  4858.3314575 ,  9790.8770492 ,
       10514.0587114 ,  3935.677977  , 10899.2876799 , 13894.3470578 ,
        6837.6454104 ,  3554.3036552 ,  6407.8926905 ,  6029.1610448 ,
        7268.0818165 ,  6372.7070786 , 13958.3059755 ,  7154.2805289 ,
        8564.0830809 ,  8253.0244752 , 10614.0405582 ,  6667.7409144 ,
       12474.0890178 , 14346.78696   , 17695.722388  , 13208.6772081 ,
        6788.0991978 ,  2866.2842955 ,  2840.10261188,  8703.2356105 ,
       13782.1819857 ,  9016.1824536 ,  6080.178035  ,  7453.0090733 ,
       13697.0879393 , 33455.8763154 ,  5730.558209  , 11932.2221136 ,
        7804.04956   , 36858.0135466 ,  9725.1692236 ,  8307.0683746 ,
       10823.1477013 , 12525.6301729 ,  5645.3619901 ,  7925.6169983 ,
        5106.7387038 ,  6520.2923037 , 19332.990624  , 45889.7322585 ,
        5354.323589  ,  6792.3548159 ,  5435.86876605,  1592.73207   ,
        8084.2202117 ,  2869.28244088,  5919.0321005 ,  9112.5257971 ,
        8371.5564265 , 25529.0575382 , 44366.4665344 , 15498.5859638 ,
        6462.6000735 , 10974.900659  , 40675.4922267 , 10187.8151369 ])

In [50]:
from sklearn.metrics import r2_score
r_score= r2_score(y_test,y_pred)
r_score

0.8926615683229585

In [25]:
print (x_train)

      age     bmi  children  sex_male  smoker_yes
621    37  34.100         4      True        True
194    18  34.430         0      True       False
240    23  36.670         2     False        True
1168   32  35.200         2      True       False
1192   58  32.395         1     False       False
...   ...     ...       ...       ...         ...
763    27  26.030         0      True       False
835    42  35.970         2      True       False
1216   40  25.080         0      True       False
559    19  35.530         0      True       False
684    33  18.500         1     False       False

[1070 rows x 5 columns]

In [26]:
print(y_train)

          charges
621   40182.24600
194    1137.46970
240   38511.62830
1168   4670.64000
1192  13019.16105
...           ...
763    3070.80870
835    7160.33030
1216   5415.66120
559    1646.42970
684    4766.02200

[1070 rows x 1 columns]